# Android Studio captures folder
captures/

# External native build folder
.externalNativeBuild
.cxx

# Gradle files
.gradle/
build/

# IntelliJ
*.iml
.idea/

# Local configuration file
local.properties
